.cf_button_array {
    background: #efefef;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
}
.cf_button_array button {
    border-radius: 5px;
    float: right;
}
.cf_button_array .clear{
    clear: both;
}

.o_notebook .table-responsive {
	max-height: 700px !important;
	overflow-x: auto;
	overflow-y: scroll;
}